body {
    background-color: #a1C349;
}

.jumbotronStyle {
    background-color: #a1C349;
    color: #243010;
    margin-bottom: 0px !important;
}

.navStyle {
    margin-top: 0px !important;
    background-color: #cad593;
    color: #87a330;
}

.navStyle a {
    color: #243010;
}

.card {
    background-color: #cad593;
}

.card-header {
    background-color: #87a330;
    color: #cad593;
}

.card .card-title {
    color: #87a330;
}

.card a {
    color: #2a3c24;
}

.fa-caret-square-up {
    color: #243010
}

/* CARRE COULEUR SUJET INDEX */
.squareTopic1 {
    height: 2rem;
    width: 2rem;
    background-color: rgba(224, 44, 80, 0.486);
}

.squareTopic2 {
    height: 2rem;
    width: 2rem;
    background-color: rgba(83, 44, 224, 0.486);
}

.squareTopic3 {
    height: 2rem;
    width: 2rem;
    background-color: rgba(44, 224, 89, 0.486);
}

/* CARRE COULEUR SUJET INDEX */
.black {
    color: black;
}

.blue {
    color: blue;
}

.red {
    color: red;
}
/* scrollUp button */
#scrollUp {
    position: fixed;
    bottom: 1px;
    right: -100px;
    font-size: 35px;
}

.scrollUpColor {
    color: #000000;
    opacity: 0.7;
}

/* scrollUp button */
.news {
    -webkit-transition: all 0.5s ease;
    /* Safari et Chrome */
    -moz-transition: all 0.5s ease;
    /* Firefox */
    -ms-transition: all 0.5s ease;
    /* Internet Explorer 9 */
    -o-transition: all 0.5s ease;
    /* Opera */
    transition: all 0.5s ease;
}

.news:hover {
    /* L'image est grossie de 25% */
    -webkit-transform: scale(1.03);
    /* Safari et Chrome */
    -moz-transform: scale(1.03);
    /* Firefox */
    -ms-transform: scale(1.03);
    /* Internet Explorer 9 */
    -o-transform: scale(1.03);
    /* Opera */
    transform: scale(1.03);
}
.cardSubject {
    -webkit-transition: all 0.5s ease;
    /* Safari et Chrome */
    -moz-transition: all 0.5s ease;
    /* Firefox */
    -ms-transition: all 0.5s ease;
    /* Internet Explorer 9 */
    -o-transition: all 0.5s ease;
    /* Opera */
    transition: all 0.5s ease;
}

.cardSubject:hover {
    /* L'image est grossie de 25% */
    -webkit-transform: scale(1.03);
    /* Safari et Chrome */
    -moz-transform: scale(1.03);
    /* Firefox */
    -ms-transform: scale(1.03);
    /* Internet Explorer 9 */
    -o-transform: scale(1.03);
    /* Opera */
    transform: scale(1.03);
}